<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    
    <form action="/login" method="post">
        <h1>Log In</h1>
        <input type="text" placeholder="  Username" name="username">
        <input type="password" placeholder="  password" name="password">
        <h2 id="for" >Forgot Password?</h2>
        <input type="submit">
        <h2 id="not" >Not a member? <a href="/">Sign Up Now</a> </h2>
    </form>
    
</body>
</html>